@page "/counter"

@attribute [DiscoverCollocatedJS]
@inject JSElementReferenceScope Refs

<JS For="this" />

<RenderStateViewer Parent="this" />

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<button onclick="@Click">Native click me!</button>
<span>Current count: @(_currentCount)</span>
<br/>
<button data-ref="@Refs["button"]">Static Click me!</button>
<span data-ref="@Refs["label"]">Current count: 0</span>
<ul data-ref="@Refs["ul"]">
</ul>
<JS For="this" Args="[IncrementAmount, Refs]" />

@code {
    const int IncrementAmount = 7;
    int _currentCount = 0;

    void Click()
    {
        _currentCount += IncrementAmount;
    }
}